@import './core/_variables';

* {
  margin: 0;
}

.App {
  &_container {
    font-family: $mainFont;
  }
}

.header {
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
}

.footer {
  &_container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
