@import './core/_variables';

.modal {
  &__background {
    background-color: rgba(221, 221, 221, 0.6);
    position: absolute;
    height: 100%;
    width: 100%;
  }
  &__dialog {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  &__img {
    border: 0.2rem solid purple;
  }
  &__properties {
    border: 0.2rem solid orange;
  }
  &__list {
    list-style: none;
  }
}
