@import './core/_variables';

.card {
  &__container {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__img {
    width: 8rem;
  }
}
