// color palette
$white: white;
// $white: #f6f6f6;
$grey: #575767;
$blue: #04a9ee;
$green: #17ae8e;
$shadow: #bebebe;

// backgrounds
$modal: $white;

// fonts
$mainFont: 'Source Sans Pro', sans-serif;
